.container{
    /* border: 3px solid blue; */
    margin-top: 20px;
}
.container1{
    margin: auto;
    /* border: 3px solid gold; */
    width: 50%;
}
.heading{
    color: indigo;
    font-size: 15px;
}
.heading:hover{
    color:  rgb(169, 73, 238);
    text-decoration: none;
}
.body{
    /* border: 3px solid navy; */
    width: 70%;
    margin-left: 160px;
}
.name{
    font-family: Open Sans;
    font-size: 55px;
    font-weight: bold;
    color: #585858;
    margin-bottom: 18px;
    /* letter-spacing: 4px; */
}
.ayda{
    color: indigo;
}
.description{
    font-size: 18px;
    font-family: Open Sans;
    line-height: 28px;

}
.avatar{
    float: right;
}
.email-input{
    width: 45%;
}
.subscribe{
    margin-left: 6px;
    background-color: rgb(169, 73, 238);
    border-color: rgb(169, 73, 238);
    border-radius: 4px;
    color: white;
}
.subscribe:hover{
    cursor: pointer;
    background-color: indigo;
    color: white;
    border: none;
}
.subscribe:focus{
    outline: none;
}
::placeholder{
    padding-left: 13px;
}